n8n/workflows/ai_agent_workflow.json
{
    "name": "VittaSaathi AI Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vittasaathi-agent",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.item.json;\n\nlet phone = '';\nlet message = '';\n\nif (input.From) {\n  phone = input.From.replace('whatsapp:', '').trim();\n  message = input.Body || 'hi';\n} else if (input.phone) {\n  phone = input.phone;\n  message = input.message || 'hi';\n}\n\nif (!phone.startsWith('+')) phone = '+' + phone;\n\nreturn {\n  phone: phone,\n  message: message,\n  timestamp: new Date().toISOString()\n};"
            },
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://vittasaathi-1.onrender.com/api/message",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "From",
                            "value": "={{ 'whatsapp:' + $json.phone }}"
                        },
                        {
                            "name": "Body",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "name": "Call VittaSaathi",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json;\nconst prevData = $('Extract Data').item.json;\n\nconst reply = response.reply || 'Message processed!';\n\nreturn {\n  phone: prevData.phone,\n  reply: reply\n};"
            },
            "name": "Format Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ reply: $json.reply, phone: $json.phone }) }}"
            },
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Call VittaSaathi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call VittaSaathi": {
            "main": [
                [
                    {
                        "node": "Format Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Reply": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}