n8n/workflows/bill_reminder_workflow.json
{
    "name": "MoneyViya - Bill Reminders (9 AM)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "id": "c1b2c3d4-1111-1111-1111-111111111111",
            "name": "Daily 9 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://MoneyViya-1.onrender.com/api/v2/bills/due-today",
                "options": {}
            },
            "id": "c1b2c3d4-2222-2222-2222-222222222222",
            "name": "Get Due Bills",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-bills",
                            "leftValue": "={{ $json.length || 0 }}",
                            "rightValue": "0",
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "c1b2c3d4-3333-3333-3333-333333333333",
            "name": "Has Bills?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "c1b2c3d4-4444-4444-4444-444444444444",
            "name": "Loop Bills",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://MoneyViya-1.onrender.com/user/{{ $json.user_id }}",
                "options": {}
            },
            "id": "c1b2c3d4-5555-5555-5555-555555555555",
            "name": "Get User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                200
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const bill = $('Loop Bills').item.json;\nconst user = $json;\nconst lang = user.preferred_language || 'english';\n\nconst messages = {\n  'english': `📋 *Bill Reminder*\\n\\n💡 *${bill.bill_type || 'Bill'}*\\n💰 Amount: ₹${(bill.amount || 0).toLocaleString()}\\n📅 Due: ${bill.due_date || 'Today'}\\n\\nReply *\"PAID ${bill.bill_type}\"* when done!`,\n  \n  'hindi': `📋 *बिल रिमाइंडर*\\n\\n💡 *${bill.bill_type || 'बिल'}*\\n💰 राशि: ₹${(bill.amount || 0).toLocaleString()}\\n📅 देय: ${bill.due_date || 'आज'}\\n\\n*\"PAID ${bill.bill_type}\"* भेजें जब भुगतान हो!`,\n  \n  'tamil': `📋 *பில் நினைவூட்டல்*\\n\\n💡 *${bill.bill_type}*\\n💰 தொகை: ₹${(bill.amount || 0).toLocaleString()}\\n📅 காலக்கெடு: ${bill.due_date}`,\n  \n  'telugu': `📋 *బిల్ రిమైండర్*\\n\\n💡 *${bill.bill_type}*\\n💰 మొత్తం: ₹${(bill.amount || 0).toLocaleString()}\\n📅 గడువు: ${bill.due_date}`\n};\n\nreturn {\n  phone: user.phone,\n  message: messages[lang] || messages['english'],\n  bill_type: bill.bill_type,\n  amount: bill.amount\n};"
            },
            "id": "c1b2c3d4-6666-6666-6666-666666666666",
            "name": "Format Reminder",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                200
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "from": "whatsapp:+14155238886",
                "to": "=whatsapp:{{ $json.phone }}",
                "message": "={{ $json.message }}"
            },
            "id": "c1b2c3d4-7777-7777-7777-777777777777",
            "name": "Send Reminder",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1560,
                200
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {},
            "id": "c1b2c3d4-8888-8888-8888-888888888888",
            "name": "Continue",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                900,
                400
            ]
        }
    ],
    "connections": {
        "Daily 9 AM": {
            "main": [
                [
                    {
                        "node": "Get Due Bills",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Due Bills": {
            "main": [
                [
                    {
                        "node": "Has Bills?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Bills?": {
            "main": [
                [
                    {
                        "node": "Loop Bills",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Continue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Bills": {
            "main": [
                [
                    {
                        "node": "Get User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User": {
            "main": [
                [
                    {
                        "node": "Format Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Reminder": {
            "main": [
                [
                    {
                        "node": "Send Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reminder": {
            "main": [
                [
                    {
                        "node": "Loop Bills",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-07T20:08:00.000Z",
    "versionId": "1"
}

