n8n/workflows/complete_onboarding_workflow.json
{
    "name": "VittaSaathi - Complete Onboarding",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-incoming",
                "responseMode": "lastNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-main",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                300
            ],
            "webhookId": "whatsapp-incoming"
        },
        {
            "parameters": {
                "jsCode": "const data = $input.item.json;\n\n// Extract from Twilio\nlet phone = (data.From || '').replace('whatsapp:', '').trim();\nlet message = (data.Body || '').trim();\nlet mediaUrl = data.MediaUrl0 || null;\nlet mediaType = data.MediaContentType0 || null;\n\n// Handle voice message\nlet isVoice = mediaType && mediaType.includes('audio');\n\nif (phone && !phone.startsWith('+')) phone = '+' + phone;\n\nconsole.log('Phone:', phone);\nconsole.log('Message:', message);\nconsole.log('MediaUrl:', mediaUrl);\nconsole.log('IsVoice:', isVoice);\n\nreturn {\n  phone: phone,\n  message: message,\n  mediaUrl: mediaUrl,\n  mediaType: mediaType,\n  isVoice: isVoice,\n  profileName: data.ProfileName || 'Friend'\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                420,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://vittasaathi-1.onrender.com/user/{{ $json.phone }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "get-user",
            "name": "Get User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                640,
                300
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const user = $input.item.json;\nconst ext = $('Extract Data').item.json;\nconst phone = ext.phone;\nconst message = ext.message;\nconst isVoice = ext.isVoice;\nconst mediaUrl = ext.mediaUrl;\n\n// Check if user exists\nconst userExists = user && user.phone;\nconst step = user?.onboarding_step || '';\nconst lang = user?.preferred_language || user?.language || 'english';\nconst isComplete = user?.onboarding_complete || false;\n\n// Language data\nconst L = {\n  english: {\n    welcome: 'ЁЯЩП *Welcome to VittaSaathi!*\\n\\nI\\'m your personal financial friend!\\n\\nPlease select your language:\\n\\n1я╕ПтГг English\\n2я╕ПтГг рд╣рд┐рдВрджреА\\n3я╕ПтГг родрооро┐ро┤рпН\\n4я╕ПтГг р░др▒Жр░▓р▒Бр░Чр▒Б\\n5я╕ПтГг р▓Хр▓ир│Нр▓ир▓б\\n\\nReply with number (1-5)',\n    ask_name: 'ЁЯУЭ Great! What\\'s your name?',\n    ask_profession: 'ЁЯТ╝ Nice to meet you, {name}!\\n\\nWhat do you do for work?\\n\\n1я╕ПтГг Delivery Partner (Swiggy/Zomato)\\n2я╕ПтГг Cab/Auto Driver\\n3я╕ПтГг Daily Wage Worker\\n4я╕ПтГг Shopkeeper\\n5я╕ПтГг Student\\n6я╕ПтГг Homemaker\\n7я╕ПтГг Salaried Employee\\n8я╕ПтГг Freelancer\\n9я╕ПтГг Other',\n    ask_income: 'ЁЯТ░ What\\'s your approximate monthly income?\\n\\n(Just type a number, e.g., 15000)',\n    ask_goals: 'ЁЯОп What are your financial goals?\\n\\n1я╕ПтГг Build Emergency Fund\\n2я╕ПтГг Save for House\\n3я╕ПтГг Save for Education\\n4я╕ПтГг Pay off Debt\\n5я╕ПтГг Save for Marriage\\n6я╕ПтГг Retirement Savings\\n7я╕ПтГг Start a Business\\n8я╕ПтГг General Savings\\n\\n(Reply with numbers, e.g., \"1,3,5\")',\n    ask_savings: 'ЁЯУК How much do you want to save each month?\\n\\n(Just type a number, e.g., 5000)',\n    complete: 'ЁЯОЙ *Perfect! Your profile is ready!*\\n\\nЁЯУК *Your Personalized Plan:*\\n\\nЁЯТ░ Monthly Income: тВ╣{income}\\nЁЯТ╛ Savings Goal: тВ╣{savings}/month\\nЁЯУЕ Daily Budget: тВ╣{daily}\\n\\n*Your Goals:*\\n{goals}\\n\\nЁЯТб *Tip:* Say \"spent 100 on food\" or \"earned 500\" to track!\\n\\nLet\\'s start your financial journey! ЁЯЪА',\n    invalid: 'тЭМ I didn\\'t understand. Please try again.',\n    lang_set: 'тЬЕ Language set to English! ЁЯОЙ'\n  },\n  hindi: {\n    welcome: 'ЁЯЩП *VittaSaathi рдореЗрдВ рд╕реНрд╡рд╛рдЧрдд рд╣реИ!*\\n\\nрдореИрдВ рдЖрдкрдХрд╛ рд╡рд┐рддреНрддреАрдп рдорд┐рддреНрд░ рд╣реВрдВ!\\n\\nрдЕрдкрдиреА рднрд╛рд╖рд╛ рдЪреБрдиреЗрдВ:\\n\\n1я╕ПтГг English\\n2я╕ПтГг рд╣рд┐рдВрджреА\\n3я╕ПтГг родрооро┐ро┤рпН\\n4я╕ПтГг р░др▒Жр░▓р▒Бр░Чр▒Б\\n5я╕ПтГг р▓Хр▓ир│Нр▓ир▓б\\n\\nрдирдВрдмрд░ рднреЗрдЬреЗрдВ (1-5)',\n    ask_name: 'ЁЯУЭ рдмрдврд╝рд┐рдпрд╛! рдЖрдкрдХрд╛ рдирд╛рдо рдХреНрдпрд╛ рд╣реИ?',\n    ask_profession: 'ЁЯТ╝ рдЖрдкрд╕реЗ рдорд┐рд▓рдХрд░ рдЕрдЪреНрдЫрд╛ рд▓рдЧрд╛, {name}!\\n\\nрдЖрдк рдХреНрдпрд╛ рдХрд╛рдо рдХрд░рддреЗ рд╣реИрдВ?\\n\\n1я╕ПтГг рдбрд┐рд▓реАрд╡рд░реА рдкрд╛рд░реНрдЯрдирд░\\n2я╕ПтГг рдХреИрдм/рдСрдЯреЛ рдбреНрд░рд╛рдЗрд╡рд░\\n3я╕ПтГг рджреИрдирд┐рдХ рдордЬрджреВрд░\\n4я╕ПтГг рджреБрдХрд╛рдирджрд╛рд░\\n5я╕ПтГг рдЫрд╛рддреНрд░\\n6я╕ПтГг рдЧреГрд╣рд┐рдгреА\\n7я╕ПтГг рдиреМрдХрд░реА\\n8я╕ПтГг рдлреНрд░реАрд▓рд╛рдВрд╕рд░\\n9я╕ПтГг рдЕрдиреНрдп',\n    ask_income: 'ЁЯТ░ рдЖрдкрдХреА рдорд╛рд╕рд┐рдХ рдЖрдп рдХрд┐рддрдиреА рд╣реИ?\\n\\n(рд╕рд┐рд░реНрдл рдирдВрдмрд░ рд▓рд┐рдЦреЗрдВ, рдЬреИрд╕реЗ 15000)',\n    ask_goals: 'ЁЯОп рдЖрдкрдХреЗ рд╡рд┐рддреНрддреАрдп рд▓рдХреНрд╖реНрдп рдХреНрдпрд╛ рд╣реИрдВ?\\n\\n1я╕ПтГг рдЗрдорд░рдЬреЗрдВрд╕реА рдлрдВрдб\\n2я╕ПтГг рдШрд░ рдХреЗ рд▓рд┐рдП рдмрдЪрдд\\n3я╕ПтГг рд╢рд┐рдХреНрд╖рд╛ рдХреЗ рд▓рд┐рдП\\n4я╕ПтГг рдХрд░реНрдЬ рдЪреБрдХрд╛рдирд╛\\n5я╕ПтГг рд╢рд╛рджреА рдХреЗ рд▓рд┐рдП\\n6я╕ПтГг рд░рд┐рдЯрд╛рдпрд░рдореЗрдВрдЯ\\n7я╕ПтГг рдмрд┐рдЬрдиреЗрд╕ рд╢реБрд░реВ рдХрд░рдирд╛\\n8я╕ПтГг рд╕рд╛рдорд╛рдиреНрдп рдмрдЪрдд\\n\\n(рдирдВрдмрд░ рднреЗрдЬреЗрдВ рдЬреИрд╕реЗ \"1,3,5\")',\n    ask_savings: 'ЁЯУК рд╣рд░ рдорд╣реАрдиреЗ рдХрд┐рддрдирд╛ рдмрдЪрд╛рдирд╛ рдЪрд╛рд╣рддреЗ рд╣реИрдВ?\\n\\n(рдирдВрдмрд░ рд▓рд┐рдЦреЗрдВ рдЬреИрд╕реЗ 5000)',\n    complete: 'ЁЯОЙ *рдмрдзрд╛рдИ! рдЖрдкрдХреА рдкреНрд░реЛрдлрд╛рдЗрд▓ рддреИрдпрд╛рд░ рд╣реИ!*\\n\\nЁЯУК *рдЖрдкрдХрд╛ рдкреНрд▓рд╛рди:*\\n\\nЁЯТ░ рдорд╛рд╕рд┐рдХ рдЖрдп: тВ╣{income}\\nЁЯТ╛ рдмрдЪрдд рд▓рдХреНрд╖реНрдп: тВ╣{savings}/рдорд╣реАрдирд╛\\nЁЯУЕ рджреИрдирд┐рдХ рдмрдЬрдЯ: тВ╣{daily}\\n\\n*рдЖрдкрдХреЗ рд▓рдХреНрд╖реНрдп:*\\n{goals}\\n\\nЁЯТб рдмреЛрд▓реЗрдВ \"рдЦрд╛рдиреЗ рдкрд░ 100 рдЦрд░реНрдЪ\" рдпрд╛ \"500 рдХрдорд╛рдП\"\\n\\nрдЪрд▓рд┐рдП рд╢реБрд░реВ рдХрд░рддреЗ рд╣реИрдВ! ЁЯЪА',\n    invalid: 'тЭМ рд╕рдордЭ рдирд╣реАрдВ рдЖрдпрд╛ред рдХреГрдкрдпрд╛ рджреЛрдмрд╛рд░рд╛ рдХреЛрд╢рд┐рд╢ рдХрд░реЗрдВред',\n    lang_set: 'тЬЕ рднрд╛рд╖рд╛ рд╣рд┐рдВрджреА рдореЗрдВ рд╕реЗрдЯ! ЁЯОЙ'\n  },\n  tamil: {\n    welcome: 'ЁЯЩП *VittaSaathi ро╡ро░ро╡рпЗро▒рпНроХро┐ро▒рпЛроорпН!*\\n\\nроиро╛ройрпН роЙроЩрпНроХро│рпН роиро┐родро┐ роирогрпНрокройрпН!\\n\\n1я╕ПтГг English\\n2я╕ПтГг рд╣рд┐рдВрджреА\\n3я╕ПтГг родрооро┐ро┤рпН\\n4я╕ПтГг р░др▒Жр░▓р▒Бр░Чр▒Б\\n5я╕ПтГг р▓Хр▓ир│Нр▓ир▓б',\n    ask_name: 'ЁЯУЭ роЙроЩрпНроХро│рпН рокрпЖропро░рпН роОройрпНрой?',\n    ask_profession: 'ЁЯТ╝ ро╡рогроХрпНроХроорпН {name}!\\n\\nроирпАроЩрпНроХро│рпН роОройрпНрой ро╡рпЗро▓рпИ роЪрпЖропрпНроХро┐ро▒рпАро░рпНроХро│рпН?\\n\\n1я╕ПтГг роЯрпЖро▓ро┐ро╡ро░ро┐ рокро╛ро░рпНроЯрпНройро░рпН\\n2я╕ПтГг роХрпЗрокрпН/роЖроЯрпНроЯрпЛ\\n3я╕ПтГг родро┐ройроЪро░ро┐ роХрпВро▓ро┐\\n4я╕ПтГг роХроЯрпИроХрпНроХро╛ро░ро░рпН\\n5я╕ПтГг рооро╛рогро╡ро░рпН\\n6я╕ПтГг роЗро▓рпНро▓родрпНродро░роЪро┐\\n7я╕ПтГг роЪроорпНрокро│роорпН\\n8я╕ПтГг роГрокрпНро░рпАро▓ро╛ройрпНроЪро░рпН\\n9я╕ПтГг рооро▒рпНро▒ро╡рпИ',\n    ask_income: 'ЁЯТ░ роЙроЩрпНроХро│рпН рооро╛род ро╡ро░рпБрооро╛ройроорпН роОро╡рпНро╡ро│ро╡рпБ? (роОрогрпН роороЯрпНроЯрпБроорпН)',\n    ask_goals: 'ЁЯОп роЙроЩрпНроХро│рпН роЗро▓роХрпНроХрпБроХро│рпН?\\n\\n1я╕ПтГг роЕро╡роЪро░ роиро┐родро┐\\n2я╕ПтГг ро╡рпАроЯрпБ\\n3я╕ПтГг роХро▓рпНро╡ро┐\\n4я╕ПтГг роХроЯройрпН\\n5я╕ПтГг родро┐ро░рпБроорогроорпН\\n6я╕ПтГг роУропрпНро╡рпБ\\n7я╕ПтГг родрпКро┤ро┐ро▓рпН\\n8я╕ПтГг роЪрпЗрооро┐рокрпНрокрпБ',\n    ask_savings: 'ЁЯУК рооро╛родроорпН роОро╡рпНро╡ро│ро╡рпБ роЪрпЗрооро┐роХрпНроХ?',\n    complete: 'ЁЯОЙ *родропро╛ро░рпН!*\\n\\nЁЯТ░ ро╡ро░рпБрооро╛ройроорпН: тВ╣{income}\\nЁЯТ╛ роЪрпЗрооро┐рокрпНрокрпБ: тВ╣{savings}/рооро╛родроорпН\\nЁЯУЕ родро┐ройроЪро░ро┐: тВ╣{daily}\\n\\n{goals}',\n    invalid: 'тЭМ рокрпБро░ро┐ропро╡ро┐ро▓рпНро▓рпИ.',\n    lang_set: 'тЬЕ роорпКро┤ро┐ родрооро┐ро┤рпН! ЁЯОЙ'\n  },\n  telugu: {\n    welcome: 'ЁЯЩП *VittaSaathiр░Хр░┐ р░╕р▒Нр░╡р░╛р░Чр░др░В!*\\n\\n1я╕ПтГг English\\n2я╕ПтГг рд╣рд┐рдВрджреА\\n3я╕ПтГг родрооро┐ро┤рпН\\n4я╕ПтГг р░др▒Жр░▓р▒Бр░Чр▒Б\\n5я╕ПтГг р▓Хр▓ир│Нр▓ир▓б',\n    ask_name: 'ЁЯУЭ р░ор▒А р░кр▒Зр░░р▒Б р░Пр░ор░┐р░Яр░┐?',\n    ask_profession: 'ЁЯТ╝ {name}, р░ор▒Ар░░р▒Б р░Пр░ор░┐ р░Ър▒Зр░╕р▒Нр░др░╛р░░р▒Б?\\n1я╕ПтГг-9я╕ПтГг',\n    ask_income: 'ЁЯТ░ р░ор▒А р░ир▒Жр░▓р░╡р░╛р░░р▒А р░Жр░жр░╛р░пр░В? (р░╕р░Вр░Цр▒Нр░п р░ор░╛р░др▒Нр░░р░ор▒З)',\n    ask_goals: 'ЁЯОп р░ор▒А р░▓р░Хр▒Нр░╖р▒Нр░пр░╛р░▓р▒Б? (1-8)',\n    ask_savings: 'ЁЯУК р░ир▒Жр░▓р░Хр▒Б р░Ор░Вр░д р░кр▒Кр░жр▒Бр░кр▒Б?',\n    complete: 'ЁЯОЙ *р░╕р░┐р░жр▒Нр░зр░В!* тВ╣{income} р░Жр░жр░╛р░пр░В, тВ╣{savings} р░кр▒Кр░жр▒Бр░кр▒Б, тВ╣{daily}/р░░р▒Лр░Ьр▒Б',\n    invalid: 'тЭМ р░Ер░░р▒Нр░ер░В р░Хр░╛р░▓р▒Зр░жр▒Б.',\n    lang_set: 'тЬЕ р░др▒Жр░▓р▒Бр░Чр▒Б! ЁЯОЙ'\n  },\n  kannada: {\n    welcome: 'ЁЯЩП *VittaSaathiр▓Чр│Ж р▓╕р│Нр▓╡р▓╛р▓Чр▓д!*\\n\\n1я╕ПтГг-5я╕ПтГг р▓нр▓╛р▓╖р│Ж',\n    ask_name: 'ЁЯУЭ р▓ир▓┐р▓ор│Нр▓о р▓╣р│Жр▓╕р▓░р│Б?',\n    ask_profession: 'ЁЯТ╝ {name}, р▓ир▓┐р▓ор│Нр▓о р▓Хр│Жр▓▓р▓╕?',\n    ask_income: 'ЁЯТ░ р▓Жр▓жр▓╛р▓п? (р▓╕р▓Вр▓Цр│Нр▓пр│Ж)',\n    ask_goals: 'ЁЯОп р▓Чр│Бр▓░р▓┐р▓Чр▓│р│Б? (1-8)',\n    ask_savings: 'ЁЯУК р▓Йр▓│р▓┐р▓др▓╛р▓п?',\n    complete: 'ЁЯОЙ тВ╣{income}, тВ╣{savings}/р▓др▓┐р▓Вр▓Чр▓│р│Б, тВ╣{daily}/р▓жр▓┐р▓и',\n    invalid: 'тЭМ р▓Ер▓░р│Нр▓ер▓╡р▓╛р▓Чр▓▓р▓┐р▓▓р│Нр▓▓.',\n    lang_set: 'тЬЕ р▓Хр▓ир│Нр▓ир▓б! ЁЯОЙ'\n  }\n};\n\nconst langMap = {'1':'english','2':'hindi','3':'tamil','4':'telugu','5':'kannada'};\nconst profMap = {'1':'Delivery Partner','2':'Driver','3':'Daily Worker','4':'Shopkeeper','5':'Student','6':'Homemaker','7':'Salaried','8':'Freelancer','9':'Other'};\nconst goalsMap = {'1':'Emergency Fund','2':'House','3':'Education','4':'Debt Payoff','5':'Marriage','6':'Retirement','7':'Business','8':'General Savings'};\n\n// If onboarding complete, go to main API\nif (isComplete) {\n  return {\n    phone, message, isVoice, mediaUrl,\n    action: 'process',\n    lang: lang,\n    response: ''\n  };\n}\n\n// New user\nif (!userExists) {\n  return {\n    phone,"
            },
            "id": "decide-action",
            "name": "Onboarding Logic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                860,
                300
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Get User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User": {
            "main": [
                [
                    {
                        "node": "Onboarding Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-07T21:24:00.000Z",
    "versionId": "1"
}