n8n/workflows/daily_reminders_flow.json
{
    "name": "VittaSaathi - Daily Reminders",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 8,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "id": "morning-trigger",
            "name": "Morning 8 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 21,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "id": "evening-trigger",
            "name": "Evening 9 PM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://127.0.0.1:8000/users",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "get-users-morning",
            "name": "Get All Users (Morning)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                420,
                200
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://127.0.0.1:8000/users",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "get-users-evening",
            "name": "Get All Users (Evening)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                420,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const users = $input.item.json.users || $input.item.json || [];\n\n// Filter active users with completed onboarding\nconst activeUsers = users.filter(u => u.onboarding_complete && u.phone);\n\nconst messages = activeUsers.map(user => {\n  const lang = user.preferred_language || 'english';\n  const name = user.name || 'Friend';\n  const income = user.monthly_income || 20000;\n  const savings = user.savings_target || Math.round(income * 0.2);\n  const dailyBudget = Math.round((income - savings) / 30);\n  const dailySavings = Math.round(savings / 30);\n  \n  const tips = [\n    'Track every expense today!',\n    'Small savings add up!',\n    'Review your spending before bed.',\n    'Set aside savings first thing!',\n    'Avoid impulse purchases today.'\n  ];\n  const tip = tips[Math.floor(Math.random() * tips.length)];\n  \n  let message = '';\n  if (lang === 'hindi') {\n    message = `🌅 *सुप्रभात ${name}!*\\n\\n📊 *आज के लक्ष्य:*\\n• 💸 खर्च सीमा: ₹${dailyBudget.toLocaleString()}\\n• 💾 बचत: ₹${dailySavings.toLocaleString()}\\n\\n💡 ${tip}\\n\\nअपने खर्च ट्रैक करें!`;\n  } else if (lang === 'tamil') {\n    message = `🌅 *காலை வணக்கம் ${name}!*\\n\\n📊 *இன்றைய இலக்கு:*\\n• 💸 செலவு: ₹${dailyBudget.toLocaleString()}\\n• 💾 சேமிப்பு: ₹${dailySavings.toLocaleString()}`;\n  } else {\n    message = `🌅 *Good Morning ${name}!*\\n\\n📊 *Today's Targets:*\\n• 💸 Spending Limit: ₹${dailyBudget.toLocaleString()}\\n• 💾 Savings Goal: ₹${dailySavings.toLocaleString()}\\n\\n💡 ${tip}\\n\\nTrack your expenses today!`;\n  }\n  \n  return {\n    phone: user.phone,\n    message: message\n  };\n});\n\nreturn messages;"
            },
            "id": "prepare-morning",
            "name": "Prepare Morning Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const users = $input.item.json.users || $input.item.json || [];\n\nconst activeUsers = users.filter(u => u.onboarding_complete && u.phone);\n\nconst messages = [];\n\nfor (const user of activeUsers) {\n  const lang = user.preferred_language || 'english';\n  const name = user.name || 'Friend';\n  const income = user.monthly_income || 20000;\n  const savings = user.savings_target || Math.round(income * 0.2);\n  const dailyBudget = Math.round((income - savings) / 30);\n  \n  // TODO: Get actual spending from API\n  const todaySpent = 0; // Placeholder\n  const remaining = dailyBudget - todaySpent;\n  const status = remaining >= 0 ? '✅ Within budget!' : '⚠️ Over budget!';\n  \n  let message = '';\n  if (lang === 'hindi') {\n    message = `🌙 *शुभ संध्या ${name}!*\\n\\n📊 *आज का सारांश:*\\n• 💸 खर्च: ₹${todaySpent.toLocaleString()}\\n• 📊 बजट: ₹${dailyBudget.toLocaleString()}\\n• ${status}\\n\\n💭 कल की योजना बनाएं!`;\n  } else {\n    message = `🌙 *Good Evening ${name}!*\\n\\n📊 *Today's Summary:*\\n• 💸 Spent: ₹${todaySpent.toLocaleString()}\\n• 📊 Budget: ₹${dailyBudget.toLocaleString()}\\n• ${status}\\n\\n💭 Plan for tomorrow!`;\n  }\n  \n  messages.push({\n    phone: user.phone,\n    message: message\n  });\n}\n\nreturn messages;"
            },
            "id": "prepare-evening",
            "name": "Prepare Evening Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-morning",
            "name": "Loop Morning",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                860,
                200
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-evening",
            "name": "Loop Evening",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                860,
                400
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "from": "+14155238886",
                "to": "={{ $json.phone }}",
                "toWhatsapp": true,
                "message": "={{ $json.message }}"
            },
            "id": "send-morning",
            "name": "Send Morning Reminder",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1080,
                200
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "from": "+14155238886",
                "to": "={{ $json.phone }}",
                "toWhatsapp": true,
                "message": "={{ $json.message }}"
            },
            "id": "send-evening",
            "name": "Send Evening Summary",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1080,
                400
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        }
    ],
    "connections": {
        "Morning 8 AM": {
            "main": [
                [
                    {
                        "node": "Get All Users (Morning)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evening 9 PM": {
            "main": [
                [
                    {
                        "node": "Get All Users (Evening)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Users (Morning)": {
            "main": [
                [
                    {
                        "node": "Prepare Morning Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Users (Evening)": {
            "main": [
                [
                    {
                        "node": "Prepare Evening Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Morning Messages": {
            "main": [
                [
                    {
                        "node": "Loop Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Evening Messages": {
            "main": [
                [
                    {
                        "node": "Loop Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Morning": {
            "main": [
                [
                    {
                        "node": "Send Morning Reminder",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Loop Evening": {
            "main": [
                [
                    {
                        "node": "Send Evening Summary",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Send Morning Reminder": {
            "main": [
                [
                    {
                        "node": "Loop Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Evening Summary": {
            "main": [
                [
                    {
                        "node": "Loop Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1",
        "timezone": "Asia/Kolkata"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 2,
    "updatedAt": "2026-01-07T21:48:00.000Z",
    "versionId": "1"
}