n8n/workflows/daily_summary_workflow.json
{
    "name": "VittaSaathi - Daily Summary (8 AM)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * *"
                        }
                    ]
                }
            },
            "id": "b1b2c3d4-1111-1111-1111-111111111111",
            "name": "Daily 8 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://vittasaathi-1.onrender.com/users",
                "options": {}
            },
            "id": "b1b2c3d4-2222-2222-2222-222222222222",
            "name": "Get All Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "b1b2c3d4-3333-3333-3333-333333333333",
            "name": "Loop Users",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "onboarding-check",
                            "leftValue": "={{ $json.onboarding_complete }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "b1b2c3d4-4444-4444-4444-444444444444",
            "name": "Onboarding Done?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://vittasaathi-1.onrender.com/dashboard/{{ $json.phone }}",
                "options": {}
            },
            "id": "b1b2c3d4-5555-5555-5555-555555555555",
            "name": "Get Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const dashboard = $json;\nconst user = $('Loop Users').item.json;\nconst lang = user.preferred_language || user.language || 'english';\nconst name = user.name || 'Friend';\n\nconst income = dashboard.summary?.total_income || 0;\nconst expense = dashboard.summary?.total_expense || 0;\nconst savings = dashboard.summary?.net_savings || income - expense;\nconst streak = user.streak_days || 0;\nconst points = user.points || 0;\n\nconst messages = {\n  'english': `🌅 *Good Morning, ${name}!*\\n\\n📊 *Your Financial Summary*\\n\\n💰 Income: ₹${income.toLocaleString()}\\n💸 Expenses: ₹${expense.toLocaleString()}\\n💾 Savings: ₹${savings.toLocaleString()}\\n\\n🔥 Streak: ${streak} days\\n⭐ Points: ${points}\\n\\n💡 *Tip:* Track every rupee to reach your goals faster!\\n\\nReply with any income or expense to log it.`,\n  \n  'hindi': `🌅 *सुप्रभात, ${name}!*\\n\\n📊 *आपका वित्तीय सारांश*\\n\\n💰 आय: ₹${income.toLocaleString()}\\n💸 खर्च: ₹${expense.toLocaleString()}\\n💾 बचत: ₹${savings.toLocaleString()}\\n\\n🔥 स्ट्रीक: ${streak} दिन\\n⭐ अंक: ${points}\\n\\n💡 *टिप:* हर रुपये को ट्रैक करें!`,\n  \n  'tamil': `🌅 *காலை வணக்கம், ${name}!*\\n\\n📊 *உங்கள் நிதி சுருக்கம்*\\n\\n💰 வருமானம்: ₹${income.toLocaleString()}\\n💸 செலவு: ₹${expense.toLocaleString()}\\n💾 சேமிப்பு: ₹${savings.toLocaleString()}\\n\\n🔥 ஸ்ட்ரீக்: ${streak} நாட்கள்`,\n  \n  'telugu': `🌅 *శుభోదయం, ${name}!*\\n\\n📊 *మీ ఆర్థిక సారాంశం*\\n\\n💰 ఆదాయం: ₹${income.toLocaleString()}\\n💸 ఖర్చు: ₹${expense.toLocaleString()}\\n💾 పొదుపు: ₹${savings.toLocaleString()}`\n};\n\nreturn {\n  phone: user.phone,\n  message: messages[lang] || messages['english'],\n  language: lang\n};"
            },
            "id": "b1b2c3d4-6666-6666-6666-666666666666",
            "name": "Format Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                200
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "from": "whatsapp:+14155238886",
                "to": "=whatsapp:{{ $json.phone }}",
                "message": "={{ $json.message }}"
            },
            "id": "b1b2c3d4-7777-7777-7777-777777777777",
            "name": "Send Summary",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1560,
                200
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {},
            "id": "b1b2c3d4-8888-8888-8888-888888888888",
            "name": "Continue Loop",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1560,
                400
            ]
        }
    ],
    "connections": {
        "Daily 8 AM": {
            "main": [
                [
                    {
                        "node": "Get All Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Users": {
            "main": [
                [
                    {
                        "node": "Loop Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Users": {
            "main": [
                [
                    {
                        "node": "Onboarding Done?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Onboarding Done?": {
            "main": [
                [
                    {
                        "node": "Get Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Continue Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Dashboard": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Send Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Summary": {
            "main": [
                [
                    {
                        "node": "Continue Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Continue Loop": {
            "main": [
                [
                    {
                        "node": "Loop Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-07T20:08:00.000Z",
    "versionId": "1"
}