n8n/workflows/daily_reminders_workflow.json
{
    "name": "VittaSaathi Daily Reminders",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "id": "morning-trigger",
            "name": "Morning Trigger (9 AM)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                200
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 21
                        }
                    ]
                }
            },
            "id": "evening-trigger",
            "name": "Evening Trigger (9 PM)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                400
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://localhost:8000/reminders/due",
                "options": {}
            },
            "id": "get-reminders",
            "name": "Get Due Reminders",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                490,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-users",
            "name": "Loop Each User",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                710,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://localhost:8000/daily-message/{{ $json.user_id }}",
                "options": {}
            },
            "id": "get-message",
            "name": "Get Personalized Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                930,
                300
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "from": "={{ $env.TWILIO_WHATSAPP_NUMBER }}",
                "to": "=whatsapp:{{ $json.user_id }}",
                "body": "={{ $json.message }}"
            },
            "id": "send-reminder",
            "name": "Send Reminder",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1150,
                300
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8000/reminders/{{ $node['Loop Each User'].json.id }}/sent",
                "options": {}
            },
            "id": "mark-sent",
            "name": "Mark Reminder Sent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1370,
                300
            ]
        }
    ],
    "connections": {
        "Morning Trigger (9 AM)": {
            "main": [
                [
                    {
                        "node": "Get Due Reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evening Trigger (9 PM)": {
            "main": [
                [
                    {
                        "node": "Get Due Reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Due Reminders": {
            "main": [
                [
                    {
                        "node": "Loop Each User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Each User": {
            "main": [
                [
                    {
                        "node": "Get Personalized Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Personalized Message": {
            "main": [
                [
                    {
                        "node": "Send Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reminder": {
            "main": [
                [
                    {
                        "node": "Mark Reminder Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Reminder Sent": {
            "main": [
                [
                    {
                        "node": "Loop Each User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}