n8n/workflows/evening_checkout.json
{
    "name": "MoneyViya 8PM Check",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 20,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "name": "8 PM Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://moneyviya.up.railway.app/api/users/active",
                "options": {}
            },
            "name": "Get Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Split Users",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const user = $input.item.json;\nconst income = user.today_income || 0;\nconst expense = user.today_expenses || 0;\nconst invest = user.today_inv || 0;\n\nlet message = \"\";\n\nif (income === 0 && expense === 0 && invest === 0) {\n  message = `🌙 *Daily Closing: 8 PM Check*\\n\\nHi ${user.name}, we haven't tracked anything today! 📉\\n\\n*Please tell me your totals:*\\n(e.g., \"Earned 1000, Confirmed 500 expenses\")`;\n} else {\n  message = `🌙 *Daily Closing: 8 PM Check*\\n\\nHi ${user.name}, tracked today:\\n\\n💰 Income: ₹${income}\\n💸 Expense: ₹${expense}\\n📈 Invested: ₹${invest}\\n\\n*Is this complete? (Yes/No)*`;\n}\n\nreturn { phone: user.phone, message };"
            },
            "name": "Generate Logic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/send-message",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "8 PM Trigger": {
            "main": [
                [
                    {
                        "node": "Get Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Users": {
            "main": [
                [
                    {
                        "node": "Split Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Users": {
            "main": [
                [
                    {
                        "node": "Generate Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Logic": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}