n8n/workflows/moneyviya_baileys_workflow.json
{
    "name": "MoneyViya Scheduled Messages",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 6 * * *"
                        }
                    ]
                }
            },
            "id": "b9e2f1a0-1234-4567-890a-bcdef1234567",
            "name": "Morning 6 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/v2/users/active",
                "options": {}
            },
            "id": "c8d3e2b1-2345-5678-901b-cdef23456789",
            "name": "Get Active Users Morning",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const users = $input.first().json;\nconst results = [];\n\nconst userList = Array.isArray(users) ? users : [];\n\nfor (const user of userList) {\n  const lang = user.language || 'en';\n  const name = user.name || 'Friend';\n  const dailyBudget = user.daily_budget || 1000;\n  const dailyTarget = user.daily_target || 500;\n  \n  let message = '';\n  \n  if (lang === 'ta') {\n    message = `☀️ காலை வணக்கம், ${name}!\\n\\n📊 இன்றைய திட்டம்:\\n💰 தினசரி பட்ஜெட்: ₹${dailyBudget}\\n🎯 சேமிப்பு இலக்கு: ₹${dailyTarget}\\n\\n💪 இன்று ஒரு நல்ல நாளாக இருக்கும்!`;\n  } else if (lang === 'hi') {\n    message = `☀️ सुप्रभात, ${name}!\\n\\n📊 आज की योजना:\\n💰 दैनिक बजट: ₹${dailyBudget}\\n🎯 बचत लक्ष्य: ₹${dailyTarget}\\n\\n💪 आज एक अच्छा दिन होगा!`;\n  } else {\n    message = `☀️ Good Morning, ${name}!\\n\\n📊 Today's Plan:\\n💰 Daily Budget: ₹${dailyBudget}\\n🎯 Savings Target: ₹${dailyTarget}\\n\\n💪 Have a great day!`;\n  }\n  \n  results.push({ phone: user.phone, message: message });\n}\n\nreturn results;"
            },
            "id": "d7c4b3a2-3456-6789-012c-def345678901",
            "name": "Generate Morning Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "e6b5c4a3-4567-7890-123d-ef4567890123",
            "name": "Loop Morning",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "f5a6d5b4-5678-8901-234e-f56789012345",
            "name": "Send Morning Baileys",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 20 * * *"
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-6789-0123-345f-678901234567",
            "name": "Evening 8 PM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                520
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/v2/users/active",
                "options": {}
            },
            "id": "b2c3d4e5-7890-1234-456a-789012345678",
            "name": "Get Active Users Evening",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                520
            ]
        },
        {
            "parameters": {
                "jsCode": "const users = $input.first().json;\nconst results = [];\n\nconst userList = Array.isArray(users) ? users : [];\n\nfor (const user of userList) {\n  const lang = user.language || 'en';\n  const name = user.name || 'Friend';\n  const todayIncome = user.today_income || 0;\n  const todayExpenses = user.today_expenses || 0;\n  const savings = todayIncome - todayExpenses;\n  const emoji = savings > 0 ? '🎉' : '📊';\n  \n  let message = '';\n  \n  if (lang === 'ta') {\n    message = `🌙 ${name}, இன்றைய சுருக்கம்\\n\\n💵 வருமானம்: ₹${todayIncome}\\n💸 செலவுகள்: ₹${todayExpenses}\\n${emoji} நிகரம்: ₹${savings}\\n\\n${savings > 0 ? '👏 நல்ல வேலை!' : '💪 நாளை சிறப்பாக இருக்கும்!'}`;\n  } else if (lang === 'hi') {\n    message = `🌙 ${name}, आज का सारांश\\n\\n💵 आय: ₹${todayIncome}\\n💸 खर्च: ₹${todayExpenses}\\n${emoji} शुद्ध: ₹${savings}\\n\\n${savings > 0 ? '👏 बढ़िया काम!' : '💪 कल बेहतर होगा!'}`;\n  } else {\n    message = `🌙 ${name}, Today's Summary\\n\\n💵 Income: ₹${todayIncome}\\n💸 Expenses: ₹${todayExpenses}\\n${emoji} Net: ₹${savings}\\n\\n${savings > 0 ? '👏 Great job!' : '💪 Tomorrow will be better!'}`;\n  }\n  \n  results.push({ phone: user.phone, message: message });\n}\n\nreturn results;"
            },
            "id": "c3d4e5f6-8901-2345-567b-890123456789",
            "name": "Generate Evening Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                520
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "d4e5f6a7-9012-3456-678c-901234567890",
            "name": "Loop Evening",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                900,
                520
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "e5f6a7b8-0123-4567-789d-012345678901",
            "name": "Send Evening Baileys",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                520
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 * * 0"
                        }
                    ]
                }
            },
            "id": "f6a7b8c9-1234-5678-890e-123456789012",
            "name": "Sunday 10 AM Weekly",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                740
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/v2/reports/weekly/generate",
                "options": {}
            },
            "id": "a7b8c9d0-2345-6789-901f-234567890123",
            "name": "Generate Weekly Reports",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                740
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "b8c9d0e1-3456-7890-012a-345678901234",
            "name": "Loop Weekly",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                740
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.report }) }}",
                "options": {}
            },
            "id": "c9d0e1f2-4567-8901-123b-456789012345",
            "name": "Send Weekly Baileys",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                740
            ]
        }
    ],
    "connections": {
        "Morning 6 AM": {
            "main": [
                [
                    {
                        "node": "Get Active Users Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Active Users Morning": {
            "main": [
                [
                    {
                        "node": "Generate Morning Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Morning Messages": {
            "main": [
                [
                    {
                        "node": "Loop Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Morning": {
            "main": [
                [
                    {
                        "node": "Send Morning Baileys",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evening 8 PM": {
            "main": [
                [
                    {
                        "node": "Get Active Users Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Active Users Evening": {
            "main": [
                [
                    {
                        "node": "Generate Evening Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Evening Messages": {
            "main": [
                [
                    {
                        "node": "Loop Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Evening": {
            "main": [
                [
                    {
                        "node": "Send Evening Baileys",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sunday 10 AM Weekly": {
            "main": [
                [
                    {
                        "node": "Generate Weekly Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Weekly Reports": {
            "main": [
                [
                    {
                        "node": "Loop Weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Weekly": {
            "main": [
                [
                    {
                        "node": "Send Weekly Baileys",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 3,
    "updatedAt": "2026-01-12T11:00:00.000Z",
    "versionId": "1"
}