n8n/workflows/moneyviya_master.json
{
    "name": "MoneyViya Master Automation",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "name": "6 AM Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                100,
                200
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 20,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "name": "8 PM Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                100,
                400
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "name": "Weekly Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                100,
                600
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://moneyviya.up.railway.app/api/users/active",
                "options": {}
            },
            "name": "Get Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Split Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                500,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/send-reminder",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "type",
                            "value": "morning"
                        },
                        {
                            "name": "user_data",
                            "value": "={{ JSON.stringify($json) }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send Morning",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                750,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const user = $input.item.json;\nconst income = user.today_income || 0;\nconst expense = user.today_expenses || 0;\nconst invest = user.today_inv || 0;\nlet message = \"\";\n\nif (income === 0 && expense === 0 && invest === 0) {\n  message = `🌙 *Daily Closing: 8 PM Check*\\n\\nHi ${user.name || 'Friend'}, no API data today! 📉\\n\\n*What are your totals?*\\n(e.g. \"Earned 1000, Confirmed 500 expenses\")`;\n} else {\n  message = `🌙 *8 PM Check*\\nToday: +₹${income} / -₹${expense}\\n\\n*Is this complete? (Yes/No)*`;\n}\nreturn { phone: user.phone, message };"
            },
            "name": "Gen 8PM Msg",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                750,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/send-message",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send 8PM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                950,
                400
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://moneyviya.up.railway.app/reports/{{ $json.phone }}/weekly-comparison",
                "options": {}
            },
            "name": "Get Wkly Rpt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                750,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/send-message",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.report }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send Weekly",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                950,
                600
            ]
        }
    ],
    "connections": {
        "6 AM Trigger": {
            "main": [
                [
                    {
                        "node": "Get Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8 PM Trigger": {
            "main": [
                [
                    {
                        "node": "Get Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Weekly Trigger": {
            "main": [
                [
                    {
                        "node": "Get Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Users": {
            "main": [
                [
                    {
                        "node": "Split Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Batches": {
            "main": [
                [
                    {
                        "node": "Send Morning",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Gen 8PM Msg",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Wkly Rpt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gen 8PM Msg": {
            "main": [
                [
                    {
                        "node": "Send 8PM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Wkly Rpt": {
            "main": [
                [
                    {
                        "node": "Send Weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}