n8n/workflows/moneyview_complete_workflow.json
{
    "name": "MoneyView Complete Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "moneyview-webhook",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-main",
            "name": "Receive WhatsApp Message",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "moneyview-main"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn {\n  phone: body.phone || '',\n  message: body.message || '',\n  sender_name: body.sender_name || 'Friend'\n};"
            },
            "id": "extract-msg",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/moneyview/process",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message, sender_name: $json.sender_name }) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "process-msg",
            "name": "Process via MoneyView API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst prev = $('Extract Data').first().json;\nreturn {\n  phone: prev.phone,\n  reply: response.reply || 'Sorry, please try again.'\n};"
            },
            "id": "prep-reply",
            "name": "Prepare Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, phone: $json.phone, reply: $json.reply }) }}",
                "options": {}
            },
            "id": "respond",
            "name": "Send to Baileys",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 6 * * *"
                        }
                    ]
                }
            },
            "id": "morning-6am",
            "name": "Morning 6 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                540
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/moneyview/morning-briefing",
                "options": {}
            },
            "id": "get-morning",
            "name": "Generate Morning Briefings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                540
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-morning",
            "name": "Loop Morning",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                540
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "send-morning",
            "name": "Send Morning MSG",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                540
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "id": "market-9am",
            "name": "Market 9 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                760
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/moneyview/market-analysis",
                "options": {}
            },
            "id": "get-market",
            "name": "Get Market Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                760
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-market",
            "name": "Loop Market",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                760
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "send-market",
            "name": "Send Market MSG",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                760
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 20 * * *"
                        }
                    ]
                }
            },
            "id": "evening-8pm",
            "name": "Evening 8 PM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                980
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/moneyview/evening-checkin",
                "options": {}
            },
            "id": "get-evening",
            "name": "Get Evening Check-ins",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                980
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-evening",
            "name": "Loop Evening",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                980
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "send-evening",
            "name": "Send Evening MSG",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                980
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 * * 0"
                        }
                    ]
                }
            },
            "id": "weekly-sun",
            "name": "Sunday 10 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/moneyview/weekly-reports",
                "options": {}
            },
            "id": "get-weekly",
            "name": "Generate Weekly Reports",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                1200
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-weekly",
            "name": "Loop Weekly",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                1200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.report }) }}",
                "options": {}
            },
            "id": "send-weekly",
            "name": "Send Weekly Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                1200
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 1 * *"
                        }
                    ]
                }
            },
            "id": "monthly-1st",
            "name": "1st of Month 10 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                1420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/moneyview/monthly-reports",
                "options": {}
            },
            "id": "get-monthly",
            "name": "Generate Monthly Reports",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                1420
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-monthly",
            "name": "Loop Monthly",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                1420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.report }) }}",
                "options": {}
            },
            "id": "send-monthly",
            "name": "Send Monthly Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                1420
            ]
        }
    ],
    "connections": {
        "Receive WhatsApp Message": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Process via MoneyView API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process via MoneyView API": {
            "main": [
                [
                    {
                        "node": "Prepare Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Reply": {
            "main": [
                [
                    {
                        "node": "Send to Baileys",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Morning 6 AM": {
            "main": [
                [
                    {
                        "node": "Generate Morning Briefings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Morning Briefings": {
            "main": [
                [
                    {
                        "node": "Loop Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Morning": {
            "main": [
                [
                    {
                        "node": "Send Morning MSG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Market 9 AM": {
            "main": [
                [
                    {
                        "node": "Get Market Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Market Analysis": {
            "main": [
                [
                    {
                        "node": "Loop Market",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Market": {
            "main": [
                [
                    {
                        "node": "Send Market MSG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evening 8 PM": {
            "main": [
                [
                    {
                        "node": "Get Evening Check-ins",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Evening Check-ins": {
            "main": [
                [
                    {
                        "node": "Loop Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Evening": {
            "main": [
                [
                    {
                        "node": "Send Evening MSG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sunday 10 AM": {
            "main": [
                [
                    {
                        "node": "Generate Weekly Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Weekly Reports": {
            "main": [
                [
                    {
                        "node": "Loop Weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Weekly": {
            "main": [
                [
                    {
                        "node": "Send Weekly Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1st of Month 10 AM": {
            "main": [
                [
                    {
                        "node": "Generate Monthly Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Monthly Reports": {
            "main": [
                [
                    {
                        "node": "Loop Monthly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Monthly": {
            "main": [
                [
                    {
                        "node": "Send Monthly Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 6,
    "updatedAt": "2026-01-12T13:50:00.000Z",
    "versionId": "3"
}