n8n/workflows/moneyviya_baileys_workflow.json
{
    "name": "MoneyViya Complete Bot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-message",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-receiver",
            "name": "Receive WhatsApp Message",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "moneyviya-webhook"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nreturn {\n  phone: body.phone || '',\n  message: body.message || '',\n  sender_name: body.sender_name || 'Friend'\n};"
            },
            "id": "extract-data",
            "name": "Extract Message Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/v2/whatsapp/process",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message, sender_name: $json.sender_name }) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "process-railway",
            "name": "Process via Railway API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst prevData = $('Extract Message Data').first().json;\n\nreturn {\n  phone: prevData.phone,\n  reply: response.reply || 'Sorry, something went wrong. Please try again.'\n};"
            },
            "id": "prepare-reply",
            "name": "Prepare Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, phone: $json.phone, reply: $json.reply }) }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Send Response to Baileys",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 6 * * *"
                        }
                    ]
                }
            },
            "id": "morning-trigger",
            "name": "Morning 6 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                540
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/v2/users/active",
                "options": {}
            },
            "id": "get-users-morning",
            "name": "Get Users Morning",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                540
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst users = Array.isArray(data) ? data : [];\nconst results = [];\n\nfor (const user of users) {\n  const lang = user.language || 'en';\n  const name = user.name || 'Friend';\n  const budget = user.daily_budget || 1000;\n  const target = user.daily_target || 500;\n  \n  let msg = '';\n  if (lang === 'ta') {\n    msg = `☀️ காலை வணக்கம், ${name}!\\n\\n📊 இன்றைய திட்டம்:\\n💰 பட்ஜெட்: ₹${budget}\\n🎯 இலக்கு: ₹${target}\\n\\n💪 நல்ல நாளாக இருக்கும்!`;\n  } else if (lang === 'hi') {\n    msg = `☀️ सुप्रभात, ${name}!\\n\\n📊 आज की योजना:\\n💰 बजट: ₹${budget}\\n🎯 लक्ष्य: ₹${target}\\n\\n💪 अच्छा दिन होगा!`;\n  } else {\n    msg = `☀️ Good Morning, ${name}!\\n\\n📊 Today's Plan:\\n💰 Budget: ₹${budget}\\n🎯 Target: ₹${target}\\n\\n💪 Have a great day!`;\n  }\n  results.push({ phone: user.phone, message: msg });\n}\n\nreturn results;"
            },
            "id": "gen-morning",
            "name": "Generate Morning Msgs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                540
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-morning",
            "name": "Loop Morning",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                900,
                540
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "send-morning",
            "name": "Send Morning",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                540
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 20 * * *"
                        }
                    ]
                }
            },
            "id": "evening-trigger",
            "name": "Evening 8 PM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                760
            ]
        },
        {
            "parameters": {
                "url": "https://moneyviya.up.railway.app/api/v2/users/active",
                "options": {}
            },
            "id": "get-users-evening",
            "name": "Get Users Evening",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                760
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst users = Array.isArray(data) ? data : [];\nconst results = [];\n\nfor (const user of users) {\n  const lang = user.language || 'en';\n  const name = user.name || 'Friend';\n  const inc = user.today_income || 0;\n  const exp = user.today_expenses || 0;\n  const net = inc - exp;\n  const emoji = net > 0 ? '🎉' : '📊';\n  \n  let msg = '';\n  if (lang === 'ta') {\n    msg = `🌙 ${name}, இன்றைய சுருக்கம்\\n\\n💵 வருமானம்: ₹${inc}\\n💸 செலவு: ₹${exp}\\n${emoji} நிகரம்: ₹${net}\\n\\n${net > 0 ? '👏 நல்ல வேலை!' : '💪 நாளை சிறப்பாக!'}`;\n  } else if (lang === 'hi') {\n    msg = `🌙 ${name}, आज का सारांश\\n\\n💵 आय: ₹${inc}\\n💸 खर्च: ₹${exp}\\n${emoji} शुद्ध: ₹${net}\\n\\n${net > 0 ? '👏 बढ़िया!' : '💪 कल बेहतर!'}`;\n  } else {\n    msg = `🌙 ${name}, Today's Summary\\n\\n💵 Income: ₹${inc}\\n💸 Expenses: ₹${exp}\\n${emoji} Net: ₹${net}\\n\\n${net > 0 ? '👏 Great job!' : '💪 Tomorrow!'}`;\n  }\n  results.push({ phone: user.phone, message: msg });\n}\n\nreturn results;"
            },
            "id": "gen-evening",
            "name": "Generate Evening Msgs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                760
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-evening",
            "name": "Loop Evening",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                900,
                760
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
                "options": {}
            },
            "id": "send-evening",
            "name": "Send Evening",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                760
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 * * 0"
                        }
                    ]
                }
            },
            "id": "weekly-trigger",
            "name": "Sunday 10 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                980
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/v2/reports/weekly/generate",
                "options": {}
            },
            "id": "gen-weekly",
            "name": "Generate Weekly Reports",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                980
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-weekly",
            "name": "Loop Weekly",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                680,
                980
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.report }) }}",
                "options": {}
            },
            "id": "send-weekly",
            "name": "Send Weekly",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                980
            ]
        }
    ],
    "connections": {
        "Receive WhatsApp Message": {
            "main": [
                [
                    {
                        "node": "Extract Message Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message Data": {
            "main": [
                [
                    {
                        "node": "Process via Railway API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process via Railway API": {
            "main": [
                [
                    {
                        "node": "Prepare Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Reply": {
            "main": [
                [
                    {
                        "node": "Send Response to Baileys",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Morning 6 AM": {
            "main": [
                [
                    {
                        "node": "Get Users Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Users Morning": {
            "main": [
                [
                    {
                        "node": "Generate Morning Msgs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Morning Msgs": {
            "main": [
                [
                    {
                        "node": "Loop Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Morning": {
            "main": [
                [
                    {
                        "node": "Send Morning",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evening 8 PM": {
            "main": [
                [
                    {
                        "node": "Get Users Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Users Evening": {
            "main": [
                [
                    {
                        "node": "Generate Evening Msgs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Evening Msgs": {
            "main": [
                [
                    {
                        "node": "Loop Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Evening": {
            "main": [
                [
                    {
                        "node": "Send Evening",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sunday 10 AM": {
            "main": [
                [
                    {
                        "node": "Generate Weekly Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Weekly Reports": {
            "main": [
                [
                    {
                        "node": "Loop Weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Weekly": {
            "main": [
                [
                    {
                        "node": "Send Weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 4,
    "updatedAt": "2026-01-12T11:18:00.000Z",
    "versionId": "2"
}