n8n/workflows/moneyviya_agent.json
{
    "name": "MoneyViya AI Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "moneyviya-webhook",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.item.json;\nlet phone = input.From ? input.From.replace('whatsapp:', '').trim() : (input.phone || '');\nlet message = input.Body || input.message || 'hi';\nif (!phone.startsWith('+')) phone = '+' + phone;\nreturn { phone, message, timestamp: new Date().toISOString() };"
            },
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://moneyviya.up.railway.app/api/message",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "From",
                            "value": "={{ 'whatsapp:' + $json.phone }}"
                        },
                        {
                            "name": "Body",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "name": "Call MoneyViya API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json;\nconst prevData = $('Extract Data').item.json;\nreturn { phone: prevData.phone, reply: response.reply || 'Message processed!' };"
            },
            "name": "Format Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ reply: $json.reply, phone: $json.phone }) }}"
            },
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Call MoneyViya API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call MoneyViya API": {
            "main": [
                [
                    {
                        "node": "Format Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Reply": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
