n8n/workflows/simple_test_workflow.json
{
    "name": "VittaSaathi - Simple Test",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "test-whatsapp",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "test-webhook",
            "name": "Test Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "test-whatsapp"
        },
        {
            "parameters": {
                "jsCode": "// Log incoming data for debugging\nconst incoming = $input.item.json;\nconsole.log('INCOMING DATA:', JSON.stringify(incoming, null, 2));\n\n// Try to extract phone from Twilio format\nlet phone = '';\n\nif (incoming.From) {\n  // Twilio format: whatsapp:+919003360494\n  phone = incoming.From.replace('whatsapp:', '').trim();\n} else if (incoming.phone) {\n  phone = incoming.phone;\n}\n\n// Ensure + prefix\nif (phone && !phone.startsWith('+')) {\n  phone = '+' + phone;\n}\n\nconst message = incoming.Body || incoming.message || 'No message';\n\nconsole.log('EXTRACTED PHONE:', phone);\nconsole.log('EXTRACTED MESSAGE:', message);\n\n// Return with fallback to your number for testing\nreturn {\n  phone: phone || '+919003360494',\n  message: message,\n  raw: incoming\n};"
            },
            "id": "extract-test",
            "name": "Extract & Debug",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "from": "+14155238886",
                "to": "={{ $json.phone }}",
                "toWhatsapp": true,
                "message": "=🎉 Test successful!\\n\\nVittaSaathi received your message:\\n\"{{ $json.message }}\"\\n\\nPhone: {{ $json.phone }}"
            },
            "id": "send-test",
            "name": "Send Test Reply",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=OK - Sent to {{ $json.phone }}"
            },
            "id": "respond-test",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Test Webhook": {
            "main": [
                [
                    {
                        "node": "Extract & Debug",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract & Debug": {
            "main": [
                [
                    {
                        "node": "Send Test Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Test Reply": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-07T21:01:00.000Z",
    "versionId": "1"
}