n8n/workflows/weekly_dashboard_workflow.json
{
    "name": "VittaSaathi Weekly Dashboard",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtDay": 0,
                            "triggerAtHour": 10
                        }
                    ]
                }
            },
            "id": "sunday-trigger",
            "name": "Sunday 10 AM Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://localhost:8000/user/all",
                "options": {}
            },
            "id": "get-all-users",
            "name": "Get All Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-users",
            "name": "Loop Users",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.onboarding_complete }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-onboarded",
            "name": "Is Onboarded?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://localhost:8000/dashboard/{{ $json.phone }}/weekly",
                "options": {}
            },
            "id": "get-dashboard",
            "name": "Get Weekly Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1130,
                200
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "from": "={{ $env.TWILIO_WHATSAPP_NUMBER }}",
                "to": "=whatsapp:{{ $node['Loop Users'].json.phone }}",
                "body": "={{ $json.dashboard }}"
            },
            "id": "send-dashboard",
            "name": "Send Dashboard",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1350,
                200
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        }
    ],
    "connections": {
        "Sunday 10 AM Trigger": {
            "main": [
                [
                    {
                        "node": "Get All Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Users": {
            "main": [
                [
                    {
                        "node": "Loop Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Users": {
            "main": [
                [
                    {
                        "node": "Is Onboarded?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Onboarded?": {
            "main": [
                [
                    {
                        "node": "Get Weekly Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Loop Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Weekly Dashboard": {
            "main": [
                [
                    {
                        "node": "Send Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Dashboard": {
            "main": [
                [
                    {
                        "node": "Loop Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}