n8n/workflows/whatsapp_main_workflow.json
{
    "name": "VittaSaathi - Main WhatsApp Flow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-incoming",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-main",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                300
            ],
            "webhookId": "whatsapp-incoming"
        },
        {
            "parameters": {
                "jsCode": "// n8n receives Twilio form data in different places depending on version\nconst input = $input.item.json;\n\nconsole.log('=== DEBUGGING TWILIO DATA ===');\nconsole.log('Input keys:', Object.keys(input));\n\nlet phone = '';\nlet message = '';\n\n// Method 1: Direct fields (newer n8n versions)\nif (input.From) {\n  phone = input.From.replace('whatsapp:', '').trim();\n  message = input.Body || '';\n  console.log('Found in direct fields');\n}\n\n// Method 2: Inside 'body' object\nelse if (input.body && typeof input.body === 'object') {\n  phone = (input.body.From || '').replace('whatsapp:', '').trim();\n  message = input.body.Body || '';\n  console.log('Found in body object');\n}\n\n// Method 3: Body is a string (URL encoded) - parse it\nelse if (input.body && typeof input.body === 'string') {\n  console.log('Body is string, parsing...');\n  const params = new URLSearchParams(input.body);\n  phone = (params.get('From') || '').replace('whatsapp:', '').trim();\n  message = params.get('Body') || '';\n}\n\n// Method 4: Check for 'data' key\nelse if (input.data) {\n  if (typeof input.data === 'object') {\n    phone = (input.data.From || '').replace('whatsapp:', '').trim();\n    message = input.data.Body || '';\n  } else if (typeof input.data === 'string') {\n    const params = new URLSearchParams(input.data);\n    phone = (params.get('From') || '').replace('whatsapp:', '').trim();\n    message = params.get('Body') || '';\n  }\n  console.log('Found in data key');\n}\n\n// Method 5: Iterate all keys looking for 'From'\nif (!phone) {\n  for (const [key, value] of Object.entries(input)) {\n    if (key === 'From' || (typeof value === 'string' && value.includes('whatsapp:'))) {\n      phone = value.replace('whatsapp:', '').trim();\n      console.log('Found From in key:', key);\n    }\n    if (key === 'Body') {\n      message = value;\n    }\n  }\n}\n\n// FALLBACK for testing - use admin phone if extraction failed\nif (!phone) {\n  phone = '+919003360494';\n  console.log('FALLBACK: Using admin phone');\n}\n\n// Ensure + prefix\nif (phone && !phone.startsWith('+')) {\n  phone = '+' + phone;\n}\n\n// Default message\nif (!message) message = 'hi';\n\nconsole.log('FINAL Phone:', phone);\nconsole.log('FINAL Message:', message);\n\n// Media\nconst mediaUrl = input.MediaUrl0 || input.body?.MediaUrl0 || null;\nconst mediaType = input.MediaContentType0 || input.body?.MediaContentType0 || null;\nconst isVoice = mediaType && mediaType.includes('audio');\n\nreturn {\n  phone: phone,\n  message: message,\n  mediaUrl: mediaUrl,\n  mediaType: mediaType,\n  isVoice: isVoice\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                420,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:8000/webhook",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"phone\": \"{{ $json.phone }}\", \"message\": \"{{ $json.message }}\", \"message_type\": \"{{ $json.isVoice ? 'voice' : 'text' }}\", \"voice_url\": {{ $json.mediaUrl ? '\"' + $json.mediaUrl + '\"' : 'null' }} }",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "call-api",
            "name": "Call VittaSaathi API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                640,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const apiResponse = $input.item.json;\nconst extractData = $('Extract Data').item.json;\n\nconst phone = extractData.phone;\nconst response = apiResponse.reply_text || apiResponse.response || apiResponse.message || 'Welcome to VittaSaathi!';\n\nconsole.log('Sending to:', phone);\nconsole.log('Response preview:', response.substring(0, 100));\n\nreturn {\n  phone: phone,\n  response: response\n};"
            },
            "id": "prepare-response",
            "name": "Prepare Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                860,
                300
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "from": "+14155238886",
                "to": "={{ $json.phone }}",
                "toWhatsapp": true,
                "message": "={{ $json.response }}"
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1080,
                300
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK"
            },
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1300,
                300
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Call VittaSaathi API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call VittaSaathi API": {
            "main": [
                [
                    {
                        "node": "Prepare Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-07T21:38:00.000Z",
    "versionId": "9"
}